.comp1 {width:400px; overflow:hidden;}
.comp2 {padding-left:35px;}
.comp3 {padding-right: 10px;}
.comp4 {display: none;}
.comp5 {margin-left:15px; margin-right:15px;}
.comp6 {padding-top: 20px;}
.comp7 {padding-top: 20px;}
.comp8 {padding-top: 20px; padding-bottom: 10px;}
.comp9 {width:100px;}
.comp10 {width:100px; margin-left: 10px;}
.comp11 {padding-top: 60px;}
.comp12 {padding-top: 10px;}
#signin_modal {display: block;}
