.wrapper-div {width: 250px; height: 500px; position: fixed; margin-top: 0px; padding-top: 20px; padding-bottom: 20px; margin-left: 50px;}

.search-div {font-weight: bold; padding-bottom: 10px;}

.select-style {width: 100px; padding-right: 20px; margin-top: 10px;}

.result-div {font-weight: bold; margin-top: 50px;}

.company-div {margin-top: 5px; border: 1px solid #e2e2e2; overflow: hidden; max-height: 300px;}

.mine:hover {color: red;}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; 
}

tr:nth-child(even) { background-color: #dddddd; }