.requestCard-comp1 {width: 800px;padding-left: 40px; padding-top: 15px; padding-bottom: 15px; margin-top: 20px;}
.requestCard-comp2 {width: 100px;}
.requestCard-comp3 {width: 80px; border-radius: 50%;}
.requestCard-comp4 {padding-top: 10px;}
.requestCard-comp5 {width: 400px; margin-left: 40px; padding-top: 20px;}
.requestCard-comp6 {width: 80px; margin-right: 5px;}
.requestCard-comp7 {width: 10px;}
.requestCard-comp8 {width: 200px;}
.requestCard-comp9 {width: 80px; font-weight: bold; padding-top: 15px; margin-left: 20px;}
.requestCard-comp10 {width: 165px; margin-bottom: 5px;}
.requestCard-comp11 {width: 165px;}
.sh-request-status-container {width: 80px; font-weight: bold; padding-top: 60px; margin-left: 20px}
.sh-request-status {padding: 8px;}
.sh-request-done-status-container {padding-left: 35px; padding-bottom: 15px;}