.positionCard-comp1 {margin-top: 20px; margin-left: 50px; width: 700px; padding-right: 100px;}
.positionCard-comp2 {font-weight: bold;}
.positionCard-comp3 {width: 600px; padding-left: 40px; padding-top: 15px; padding-bottom: 15px; margin-bottom: 5%}
.positionCard-comp4 {width: 80px;}
.positionCard-comp5 {width: 100%; border-radius: 50%;}
.positionCard-comp6 {width: 320px; margin-left: 40px; padding-top: 5px;}
.positionCard-comp7 {width: 80px; text-align: right; margin-right: 5px;}
.positionCard-comp8 {width: 200px;}
.positionCard-comp9 {width: 80px; padding-top: 25px; font-weight: bold;}
.comp111{padding-bottom: 50px;}