.profileCard-comp1 {margin-left: 50px; margin-top: 20px; width: 400px; padding-top: 15px; padding-left: 0px; padding-bottom: 20px;}
.profileCard-comp2 {margin-right: 10px; padding-top: 15px; padding-left: 50px; padding-bottom: 15px;}
.profileCard-comp3 {width: 150px; border-radius: 50%;}
.profileCard-comp4 {width: 150px; padding-top: 40px; font-weight: bold; text-align: center;}
.profileCard-comp5 {width: 500px;}
.profileCard-comp6 {padding: 10px;}
.profileCard-comp7 {width: 100px; padding-top: 8px; text-align: right;}
.profileCard-comp8 {width: 250px; margin-left: 10px;}
.profileCard-comp9 {width: 350px; margin-left: 10px;}
.profileCard-comp10 {margin-left: 5%}
.update-btn {margin-left: 100px;}
.sh-upload-btn {width: 80px; margin-left: 10px; padding: 0px;}